
@{
    ViewBag.Title = "songByArtist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $.getJSON('/api/song', { artist: '@TempData["Source"]' }, function (data) {
        $('.ajaxdata').remove();
        var La = new Array();
        $(data).each(function (key, value) {
            La.push(value.songSinger);
                $('#tablesongByArtist').append('<tr class="ajaxdata" style="border-bottom:1px solid aqua;" ><td ><a style="text-decoration:none; " data-source="' + value.songSource + '" class="data" href=\"\"> ' + value.songName + '</td><td> ' + value.songSinger + '</a></td></tr>');

        });
        $.getJSON('http://ws.audioscrobbler.com/2.0/?method=artist.getinfo&artist=' + La[0] + '&api_key=fa96f2215b9159517bbc9eecbce0a5d8&format=json', function (data) {
                $(data).each(function (key, value) {
                    $('#singerpic').append('<table><tr><td><img src="' + value.artist.image[5]['#text'] + '"/></td><td> ' + value.artist.bio.summary + '</td></tr></table>');
                });
            });
    });
    $('body').on('click', '.data', function (e) {
                e.preventDefault();
                var source=$(this).data('source');
                $.ajax(
                    {
                        method: 'GET',
                        url: '@Url.Action("GetSource", "Home")',
                        data: { source: source },
                        type:'json',
                        success: function (response)
                        {
                            window.location.href ='/Home/Play';
                        }
                    });
            });


</script>
<script>
            $('document').ready(function () {
                if (@Session["logedUserID"]!=null) {
                    document.getElementById('loginbutton').style.display = 'none';
                    document.getElementById('signupbutton').style.display = 'none';
                    document.getElementById('Signoutbutton').style.display = 'block';
                }
            });

</script>
<div id="contentzonesongByArtist" style="height:1900px;">
    <div id="emtyleft" class="col-md-2"></div>
    <div id="contentsongByArtist" class="col-md-8">
        <div id="singerpic" style="width:100%;height:300px; background-color:rgb(241, 241, 241);">

        </div>
        <table id="tablesongByArtist" width="100%">
            <tr style="text-align:center;border-bottom:1px solid aqua;"><td>Tên bài hát</td><td>Tên ca sĩ</td></tr>
            <tr></tr>
        </table>
        
    </div>

    <div id="emtyright"></div>
</div>





